@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply relative;
}

html {
  @apply scroll-smooth;
}

body {
  font-family: "Rubik", sans-serif;
}

/* swiper */
.swiper-pagination-bullet {
  @apply bg-yellow-400 !important;
}

.customSwiper .swiper-button-next {
  @apply text-[#131921] !important;
}

.customSwiper .swiper-button-prev {
  @apply text-[#131921] !important;
}

/* marquee */
.marquee .child {
  @apply flex items-center justify-center;
}

/* Ellipsis */
.custom-ellipsis,
.custom-ellipsis-line {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.custom-ellipsis {
  -webkit-line-clamp: 3;
}
.custom-ellipsis-line {
  -webkit-line-clamp: 2;
}

/* SpecialSec */
.grid-system {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, 350px);
  justify-content: center;
  align-items: center;
}

/* Pagination */
#container ul {
  @apply w-full flex items-end justify-end gap-4;
}

#container ul li {
  @apply w-8 h-8 flex items-center justify-center rounded-full;
}

#container ul .selected {
  @apply bg-yellow-300;
}

#container ul li.next,
#container ul li.previous {
  @apply font-semibold text-2xl;
}
